<table style="padding: 0px; margin: 0px; box-sizing: border-box; background-color: rgb(240, 234, 234); width: 100%; height: 100%; font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <tr style="height: auto;">
        <td>
        </td>
        <td style="margin-bottom: 20px;">
            &nbsp;
        </td>
        <td>
        </td>
    </tr>
    <tr style="height: 600px;">
        <td>
        </td>
        <td style="width: 500px;">
            <div style="margin: 0px; padding: 0px; box-sizing: border-box; align-items:center; background-color:white; overflow: hidden; border-radius: 6px; border: rgb(187, 181, 181) solid 1px; height: 100%;">
                <div style="background-color: #171C2F; width:100%; height: 60px; color:white;">
                    <table style="width: 100%; height:100%;">
                        <tr style="height: 100%;">
                            <td style="width: auto;">
                            </td>
                            <td style="width: 35px;">
                                <img src="cid:logo" alt="" style="width:35px;" alt="logo">
                            </td>
                            <td style="width: auto;">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top:25px">
                    <div style="width: 100%; max-width: 500px; padding:20px; color: #B5B5B5; font-weight:500; height:100%;">
                        Hello,<br/><br/>
                        You have requested for your email to be changed to {{new_email}}, please enter this 50-character long authentication code : 
                        <div style="margin: 20px 0px; color: #171C2F; font-weight: 700; font-size:14px; background-color: rgb(247, 243, 243); padding:12px; border-radius:6px; border: rgb(231, 227, 227) solid 1px; text-align: center;">
                            {{authenticationCode}}
                        </div>
                        For security purposes, the generated authentication code will expire in 10 mins.<br/><br/>
                        If you have not requested this authentication code, please check on your account, and contact us immediately.<br/><br/>
                        
                        <div style="display:flex; flex-direction:column; justify-content: space-between;">
                            <p>
                                Sincerely, <br/>
                                BeastClash<br/>
                                <a href="https://beastclash.com" style="color: #60A4FF;">https://beastclash.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr style="height: 30px;">
        <td>
        </td>
        <td>    
            <p style="color: black; opacity: 0.3; font-size:13px; text-align: center; margin-top:20px">
                You have received this email to notify you about important changes or activities to your Beastclash Account.
            </p>
        </td>
        <td>
        </td>
    </tr>
    <tr style="height: auto;">
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>